.MuiDataGrid-panel button.MuiButtonBase-root {
  color: #73b569;
  font-weight: bold;
}

.MuiDataGrid-panel .MuiInputBase-root::before {
  border-bottom-color: #73b569;
}
.MuiDataGrid-panel .MuiInputBase-root::after {
  border-bottom-color: #73b569;
}

.MuiDataGrid-panel .MuiSwitch-switchBase.Mui-checked {
  color: #5c9154;
}

.MuiDataGrid-panel .MuiFormLabel-root.Mui-focused {
  color: #5c9154;
}
